@mixin flexCenter {
  display: flex;
  align-items: center;
}
$justifySpace: space-between;
//--------------------------------------------------Dashboard-------------------------------------------------------
.dashboard-appbar {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
// -------------------------------------------------trash--------------------------------------------------------------
.trash-card {
  @include flexCenter();
  flex-wrap: wrap;
  justify-content: $justifySpace;
  position: fixed;
  width: 9%;
  height: 10%;
}
.label-popper {
  @include flexCenter();
  flex-wrap: wrap;
  justify-content: $justifySpace;
  position: fixed;
  min-width: 225px;
  overflow: hidden;
  max-width: 225px;
  height: auto;
}
.trash-checkbox {
  overflow-y: auto;
  max-height: 170px;
  width: 100%;
}
// ---------------------------------------------------account----------------------------------------------------------
.account-card {
  @include flexCenter();
  flex-wrap: wrap;
  justify-content: $justifySpace;
  position: fixed;
  width: 20%;
  height: 20%;
}
.slidingCards {
  transition: 2s;
}
.slidingCards {
  margin-left: 25px;
}
.account-buttons {
  display: flex;
  justify-content: $justifySpace;
}
// --------------------------------------------------------colorpalette----------------------------------------------------
.color-map {
  @include flexCenter();
  flex-wrap: wrap;
  flex-direction: row;
  width: 100px;
  justify-content: center;
  height: 82px;
}
// -----------------------------------------edit---------------------------------------------------------------------
#edit-button {
  display: flex;
  flex-direction: row-reverse;
}
.edit-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: $justifySpace;
  width: 103%;
}
.edit-map {
  overflow-y: auto;
  max-height: 170px;
  width: 103%;
}
.label1-map {
  display: flex;
  justify-content: $justifySpace;
}
// -----------------------------------------------------createlabel----------------------------------------------------
.label-button {
  @include flexCenter();
}
.trash-del {
  @include flexCenter();
}

// --------------------------------------------------------getArchive------------------------------------------------------
.get-card1 {
  min-width: auto;
  min-height: auto;
  border-radius: 1em;
  border-radius: 18px;
}
.get-archive {
  width: 100%;
  display: flex;
  justify-content: center;
}
.getDeleted-container {
  width: 60%;
  @include flexCenter();
  justify-content: space-between;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.get-deleted {
  width: 100%;
  display: flex;
  justify-content: center;
}
// -----------------------------------------------------list----------------------------------------------------------------
//-------------------------------------------------------reminder-----------------------------------------------------------
.reminder-paper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
// -------------------------------------------------------getAllChips---------------------------------------------------------
.get-chips {
  // @include flexCenter();
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
// ------------------------------------------------------------profile--------------------------------------------------
.profile-avatar {
  display: flex;
  align-items: center;
}
.profile-secondAvatar {
  @include flexCenter();
}
.profile-buttons {
  display: flex;
  justify-content: $justifySpace;
}
// ---------------------------------------------------------------collab--------------------------------------------------
.collab-buttons {
  display: flex;
  flex-direction: row-reverse;
  background-color: lightgray;
}
.collab-avatar {
  @include flexCenter();
  padding-left: 10px;
}
.collab-secondAvatar {
  @include flexCenter();
  flex-direction: column;
  padding-left: 10px;
}
.secondCollab-secondAvatar {
  @include flexCenter();
  flex-direction: column;
  padding-left: 10px;
  width: 100%;
}
.secondCollab-avatar {
  @include flexCenter();
  padding-left: 10px;
}
.collab-card {
  min-width: auto;
  min-height: auto;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 1em;
  border-radius: 18px;
}
// .collab-input {
//   display: flex;
//   position: relative;
// }
// .collab-map {
//   position: absolute;
//   display: flex;
//   height: 50px;
//   overflow-y: scroll;
// }
.avatar-container {
  min-height: 24vh;
}
.para-collab {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
// ---------------------------------------------------chekclists-------------------------------------------------------
.check-map {
  display: flex;
  padding-left: 3.5%;
}
// -----------------------------------------------------Editor-------------------------------------------------------------
.editor-button {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.editor-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
}
.editor-contents {
  display: flex;
  /* min-width: 80%; */
  width: 67%;
  width: 60%;
  width: 70%;
  flex-direction: column;
}
.editor-details {
  @extend .editor-contents;
}
.editor-title {
  display: flex;
  justify-content: space-between;
}

div.DraftEditor-root {
  padding: 10px;
}
.editor-assignment {
  // min-height: 30vh;
  height: auto;
  overflow-y: scroll;
}
.editor-data {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 64%;
  justify-content: space-between;
}
.editor-thumbsUp {
  @include flexCenter();
}
.no-archive {
  @include flexCenter();
  justify-content: center;
  height: 65vh;
  flex-direction: column;
}
// -----------------------------------------------------shopping card----------------------------------------------------
.shopping-card1 {
  width: 120px;
  /* height: 10vh; */
  min-height: 3vh;
  border: 6px solid #fb0;
  border-radius: 5px;
  padding: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

.shopping-card1:hover {
  border: 6px solid #a7a7a7;
}

.shopping-textArea {
  width: 200px;
  /* height: 10vh; */
  min-height: 8vh;
  border: 1px solid #a7a7a7;
  padding: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

.shopping-card2 {
  width: 80px;
  // width: auto;
  /* height: 10vh; */
  min-height: 10vh;
  border: 1px solid #a7a7a7;
  border-radius: 5px;
  padding: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
.shopping-container {
  width: 70vw;
  min-height: 60vh;
  padding: 10px 10px 10px 10px;
}
.shopping-details {
  margin: 10px 0px 10px 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.shopping-details > div {
  padding: 1.4em;
}
.card-container1 {
  display: flex;
  margin: 1.4em;
  align-items: center;
  flex-wrap: wrap;
}
.cart-info1 {
  width: 220px;
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  flex-direction: column;
}
.cart-info2 {
  display: flex;
  flex-direction: column;
}
.cart-info3 {
  @extend .cart-info2;
}
.total-box {
  min-width: 15vw;
  width: auto;
  /* height: 10vh; */
  min-height: 10vh;
  border: 1px solid #a7a7a7;
  border-radius: 3px;
  padding: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
.shoppingcart-header {
  margin: 1.4em;
}
.cart-info4 {
  margin: 1.4em;
}
.shopping-details1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
  flex-wrap: wrap;
  width: 324px;
}
.payment-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cart-info5 {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.cart-info5 > div {
  display: flex;
  padding: 1.4em;
}
// ---------------------------------------service-card-------------------------------------------------------------------
.service-card {
  // border: 2px solid whitesmoke;
  // border-radius: 2px 2px 2px 2px;
  display: flex;
  padding: 2em;
  height: 160px;
  width: 180px;
  margin: 1em;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}
// .service-card:hover {
//   border: 2px solid blanchedalmond;
//   box-shadow: 20px 20px rgb(255, 165, 0);
//   transform: scale(1.2);
// }
.service-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(360deg, black, transparent);
}

.service-header {
  height: 8vh;
  display: flex;
  background: orange;
  align-items: center;
  padding: 1em;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.card-map {
  display: flex;
  align-items: center;
  margin: 3em;
}
.service-contents{
  display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fundoo-head{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:2em;
}
.service-btn{
  @extend .fundoo-head
}