@mixin flexCenter {
  display: flex;
  align-items: center;
}
$justifySpace: space-between;
//--------------------------------------------------Dashboard-------------------------------------------------------
.dashboard-appbar {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
// -------------------------------------------------trash--------------------------------------------------------------
.trash-card {
  @include flexCenter();
  flex-wrap: wrap;
  justify-content: $justifySpace;
  position: fixed;
  width: 9%;
  height: 10%;
}
.label-popper {
  @include flexCenter();
  flex-wrap: wrap;
  justify-content: $justifySpace;
  position: fixed;
  min-width: 225px;
  overflow: hidden;
  max-width: 225px;
  height: auto;
}
.trash-checkbox {
  overflow-y: auto;
  max-height: 170px;
  width: 100%;
}
// ---------------------------------------------------account----------------------------------------------------------
.account-card {
  @include flexCenter();
  flex-wrap: wrap;
  justify-content: $justifySpace;
  position: fixed;
  width: 20%;
  height: 20%;
}
.slidingCards {
  transition: 2s;
}
.slidingCards {
  margin-left: 25px;
}
.account-buttons {
  display: flex;
  justify-content: $justifySpace;
}
// --------------------------------------------------------colorpalette----------------------------------------------------
.color-map {
  @include flexCenter();
  flex-wrap: wrap;
  flex-direction: row;
  width: 100px;
  justify-content: center;
  height: 82px;
}
// -----------------------------------------edit---------------------------------------------------------------------
#edit-button {
  display: flex;
  flex-direction: row-reverse;
}
.edit-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: $justifySpace;
}
.edit-map {
  overflow-y: auto;
  max-height: 170px;
  width: 103%;
}
.label1-map {
  display: flex;
  justify-content: $justifySpace;
}
// -----------------------------------------------------createlabel----------------------------------------------------
.label-button {
  @include flexCenter();
}
.trash-del {
  @include flexCenter();
}

// --------------------------------------------------------getArchive------------------------------------------------------
.get-card1 {
  min-width: auto;
  min-height: auto;
  border-radius: 1em;
  border-radius: 18px;
}
.get-archive {
  width: 100%;
  display: flex;
  justify-content: center;
}
.getDeleted-container {
  width: 60%;
  @include flexCenter();
  justify-content: space-between;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.get-deleted {
  width: 100%;
  display: flex;
  justify-content: center;
}
// -----------------------------------------------------list----------------------------------------------------------------
//-------------------------------------------------------reminder-----------------------------------------------------------
.reminder-paper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
// -------------------------------------------------------getAllChips---------------------------------------------------------
.get-chips {
  // @include flexCenter();
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
// ------------------------------------------------------------profile--------------------------------------------------
.profile-avatar {
  display: flex;
  align-items: center;
}
.profile-secondAvatar {
  @include flexCenter();
}
.profile-buttons {
  display: flex;
  justify-content: $justifySpace;
}
// ---------------------------------------------------------------collab--------------------------------------------------
.collab-buttons {
  display: flex;
  flex-direction: row-reverse;
  background-color: lightgray;
}
.collab-avatar {
  @include flexCenter();
  padding-left: 10px;
}
.collab-secondAvatar {
  @include flexCenter();
  flex-direction: column;
  padding-left: 10px;
}
.secondCollab-secondAvatar {
  @include flexCenter();
  flex-direction: column;
  padding-left: 10px;
  width: 100%;
}
.secondCollab-avatar {
  @include flexCenter();
  padding-left: 10px;
}
.collab-card {
  min-width: auto;
  min-height: auto;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 1em;
  border-radius: 18px;
}
// .collab-input {
//   display: flex;
//   position: relative;
// }
// .collab-map {
//   position: absolute;
//   display: flex;
//   height: 50px;
//   overflow-y: scroll;
// }
.avatar-container {
  min-height: 24vh;
}
.para-collab {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}